@import "main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  background: $secondaryColor;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}
// body {
//   background-image: url(https://i.postimg.cc/dVYKS8jM/bg-elo.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-color: rgba(0, 0, 0, 0.2);
//   src: url("@assets/fonts/Poppins/Poppi.ns-ExtraLight.ttf") format("truetype");
// }
h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 1200;
  text-transform: uppercase;
  font-size: 30px;
  color: $secondaryTextColor;
  text-shadow: 0 0 10px #00d2ff, 0 0 20px #00d2ff, 0 0 30px #00d2ff;
  span {
    display: inline-block;
    animation: animate 0.5s ease-in-out;
    &:nth-child(2) {
      animation-delay: 0.6s;
    }
    &:nth-child(3) {
      animation-delay: 0.7s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      animation-delay: 0.9s;
    }
    &:nth-child(6) {
      animation-delay: 1s;
    }
    &:nth-child(7) {
      animation-delay: 1.1s;
    }
    &:nth-child(8) {
      animation-delay: 1.4s;
    }
    &:nth-child(9) {
      animation-delay: 1.6s;
    }
  }
}
@keyframes animate {
  0% {
    opacity: 0%;
    transform: rotateY(90deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}
h1 {
  span {
    &:nth-child(1) {
      animation-delay: 0.6s;
    }
  }
}

.errorSection {
  @extend .section;
  @include flex(column, center, center);
  font-size: 25px;
  color: $secondaryTextColor;
  font-family: "Poppins", sans-serif;
  p {
    margin: 10px 1px;
  }

  button {
    font-size: 30px;
    font-family: 800;
    border-radius: 15px;
    padding: 5px 10px;
    color: $secondaryColor;
    background-color: $mainColor;
    border: none;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
  }
}
