@import "main";
.anchore {
  text-decoration: none;
  color: $secondaryTextColor;
  img {
    width: 18px;
    margin-right: 5px;
  }
}
.topNav {
  width: 100vw;
  @include flex(row, space-evenly, center);
  img {
    // max-width: 100px;
    width: 50px;
  }
  :nth-child(3) {
    width: 25px;
  }
  i {
    font-size: 8px;
    font-style: normal;
    color: $secondaryTextColor;
  }
}
.mainImg {
  width: 80vw;
  // height:250px;
}
.para {
  font-size: 16px;
  // text-align: left;
  font-style: normal;
  // background-color: red;
}
.otherDiv {
  margin: 20px 5px;
  h3 {
    color: $mainTextColor;
  }
  i {
    color: $secondaryTextColor;
  }
}
.logoDiv {
  @extend .otherDiv;
  p {
    color: $secondaryTextColor;
    font-size: 14px;
    padding: 2px;
  }
}
.lastDiv {
  margin-bottom: 150px;
}
.section {
  overflow: hidden auto;
  height: calc(100vh - 50px);
  width: 100vw;
  text-align: center;
  margin-bottom: 50px;
  background-color: $secondaryColor;
  color: $mainColor;
  font-family: "Poppins", sans-serif;
  padding: 10px 5px;
  orientation: portrait;
  @include flex(column, flex-start, center);
}

.countDown {
  @include flex(row, space-evenly, center);
  width: 70vw;
}
.countDownTimer {
  font-size: 55px;
  // background-color: $secondaryTextColor;
  padding: 0px 10px;
  border-radius: 15px;
  font-weight: 800;
  color: $secondaryTextColor;
  text-shadow: 0px 0px 10px $mainTextColor;
}
.countDownTitle {
  font-size: 12px;
}
